<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
  <div class="row">
  <div class="col-xs-1 col-md-1 col-xl-12">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    </div>
    </div>
      <div  class="header-list">making memories</div>
    <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--<span class="navbar-toggler-icon"></span>-->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <% if user_signed_in? %>
        <%# ナビゲーションヘッダーにリンクを追加して、リンクをクリックしたら投稿ページに遷移する %>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to current_user.name, "/users/#{current_user.id}", class: "user-nickname"  %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to "投稿する", new_post_path, class: "btn btn-primary" %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to "投稿一覧", posts_path, class: "btn btn-primary"  %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn btn-primary" %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to "", user_path(current_user), class: "nav-link commonNavIcon profile-icon" %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <% else %>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to "ログイン", new_post_path, class: "btn btn-primary" %></li>
        </div>
    </div>
        <div class="row">
  <div class="col-xs-12 col-md-12">
        <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %></li>
        </div>
    </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>