<% @posts.each do |post| %>
  <div class="col-md-8 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">
          <%= link_to user_path(post.user), class: "no-text-decoration" do %>
            <%= image_tag avatar_url(post.user), class: "post-profile-icon" %>
          <% end %>
          <%= link_to user_path(post.user), class: "black-color no-text-decoration",
            title: post.user.name do %>
            <strong><%= post.user.name %></strong>
          <% end %>

           <%# 投稿機能の削除機能 %>
          <% if post.user_id == current_user.id %>
          <%# 現在サインインしているユーザーと投稿したユーザーが等しければ、リンクを表示させる条件式 %>
            <%= link_to post_path(post), method: :delete, class: "ml-auto mx-0 my-auto" do %>
              <div class="delete-post-icon">
              </div>
            <% end %>
          <% end %>
           <%# 投稿機能の削除機能 %>

        </div>

<%# 投稿詳細ページというのは、各投稿によって違うページが表示。なのでpost_pathに引数を渡し、どの投稿の詳細ページに遷移するか指定する必要がある。今回は@postsをeachで1つずつ順に取り出したpostという変数を引数に渡す%>
       <%= link_to(post_path(post)) do %>
          <%= image_tag post.photos.first.image.url(:medium), class: "card-img-top" %>
       <% end %>
<%# 投稿詳細ページというのは、各投稿によって違うページが表示。なのでpost_pathに引数を渡し、どの投稿の詳細ページに遷移するか指定する必要がある。今回は@postsをeachで1つずつ順に取り出したpostという変数を引数に渡す%>

        <div class="card-body">
          <div class="row parts">

            <div id="like-icon-post-<%= post.id.to_s %>">
              <% if post.liked_by(current_user).present? %>
                <%= link_to "いいねを取り消す", post_like_path(post.id, post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text" %>
              <% else %>
                <%= link_to "いいね", post_likes_path(post), method: :POST, remote: true, class: "love hide-text" %>
              <% end %>
            </div>

            <%# コメントをクリックして、投稿詳細ページに遷移するように実装 %>
            <%= link_to(post_path(post)) do %>
              <%= link_to "", post_path(post), class: "comment" %>
            <% end %>
            <%# コメントをクリックして、投稿詳細ページに遷移するように実装 %>
          </div>
          
          <div id="like-text-post-<%= post.id.to_s %>">
            <%= render "like_text", { likes: post.likes } %>
          </div>

          <div>
            <span><strong><%= post.user.name %></strong></span><br>
            <span>タイトル：<%= post.caption %></span><br>
            <span>説明文：<%= post.description %></span>
            <%# 投稿日時をクリックしても、投稿詳細ページに遷移するように実装 %>
            <%#= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post), class: "post-time no-text-decoration" %>

            <%# ユーザーがサインインしていない状態でコメントをしても、誰がコメントしたか分からない。なのでauthenticate_user!を使ってサインイン済みユーザーのみにアクセス許可を与える%>
            <div id="comment-post-<%= post.id.to_s %>">
              <%= render 'comment_list', { post: post } %>
            </div>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),
              class: "light-color post-time no-text-decoration" %>
            <hr>
            <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
              <%= form_with model: [post, Comment.new], class: "w-100" do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
              <% end %>
            </div>
            <%# ユーザーがサインインしていない状態でコメントをしても、誰がコメントしたか分からない。なのでauthenticate_user!を使ってサインイン済みユーザーのみにアクセス許可を与える%>
            
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>