<%# 投稿機能 %>
<%= render 'partial/navbar'%>
<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        投稿画面
      </div>
      <div class="card-body">

      <%# HTMLフォーム生成メソッド。モデルオプションに、先ほどコントローラー定義した@postをモデルオブジェクトとして扱う。こうすることで、URLとHTTPメソッドを自動推測。今回@postは空なので、createアクションに飛ぶ。（空じゃないときはupdateアクションに飛ぶ。）%>
        <%= form_with model: @post, class: "upload-images p-0 border-0" do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
            <%# プロフィールアイコンが設定してあるかないかの条件式 %>
            <% if user_signed_in? %>
              <% if current_user.avatar.attached? %>
                  <%= image_tag current_user.avatar, class: "post-profile-icon" %> 
              <% else %>
                  <%= image_tag avatar_url(current_user), class: "post-profile-icon" %>
              <% end %>
            <% end %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :caption, class: "form-control border-0", placeholder: "タイトル" %>
            </div>
          </div>
          <div class="mb-3">
          
          <%# fiels_forを使うことで、子モデル（今回でいうとPhotoモデル）に変更を加える %>
            <%= f.fields_for :photos do |i| %>
              <%= i.file_field :image %>
              <%= f.text_area :description, class: "form-control border-0", placeholder: "投稿説明文100文字まで・・・", rows:"7" ,maxlength:"100" %>
              <%= f.text_field :address, class: "text-address", placeholder: "投稿場所の住所を入力してください" %>
            <% end %>
          <%# fiels_forを使うことで、子モデル（今回でいうとPhotoモデル）に変更を加える %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      <%# HTMLフォーム生成メソッド。モデルオプションに、先ほどコントローラー定義した@postをモデルオブジェクトとして扱う。こうすることで、URLとHTTPメソッドを自動推測。今回@postは空なので、createアクションに飛ぶ。（空じゃないときはupdateアクションに飛ぶ。）%>
      </div>
    </div>
  </div>
</div>